*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #BFC0C0; 
    
}
a{
    padding: 10px;    
    color: #EF8354;
    text-decoration: none;
    
}
/*
html{
    
   
    background: url(./images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}
*/
/*header*/
.header{
    display: flex;
    background-color: transparent;
    padding-left: 50px;
}

.anchor{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    margin-left: auto;
    padding-right: 50px;
    color: #EF8354;
}   
 /* body section 1*/   
.add{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2D3142;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.what{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 24px;
    text-align: center;
}

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 24px;
    text-align: center;
}

/*body section 2*/
.services{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 25px;
}

.icons{
    display: flex;
    padding-top: 50px;
    gap: 50px;
}

.descrip{
    display: flex;
    padding-top: 75px;
    color: #2D3142;
    font-size: 24px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EF8354;
    font-size: 50px;
    padding-top: 75px;
}

/*contact form styling*/

#contactForm{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid white;
    border-radius: 8px;
    padding: 3rem;
    background-color: white;
}

.center{
    background-color: white;
}
label{
    display: block;
    padding: 1rem 0 .5rem;
    font-size: 16px;
    background-color: white;
}

input, textarea{
display: block;
width: 100%;
border: 2px solid lightblue;
border-radius: 8px;
padding:.5rem;
font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: white;
}

#sendBtn{
    
    border: 2px solid white;
    border-radius: 8px;
    background-color: lightblue; 
    padding: .5rem;
    margin: 1rem 0;
    width: auto;
    cursor: pointer;
    transition: .3sec background-color ease;
}

#sendBtn:hover{
    background-color: rgb(150, 183, 212);
}

.error{
    color: red;

}

.error-border{
    border-bottom: 1px solid red;
}